[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "APackOfTheClones"]
	path = APackOfTheClones
	url = https://github.com/qile0317/apackoftheclones
